@font-face{
	-fx-font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P.ttf");
}

.custom-anchor{
	-fx-font-family: "Press Start 2P";
}

.custom-anchor .label{
	-fx-alignment: center;
}

.button{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-font-size: 15px;
	-fx-background-image: url("../img/redButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	
}