@font-face{
	-fx-font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P.ttf");
}

.custom-combobox .arrow-button {
    -fx-background-color: transparent;
    -fx-background-size: contain; /* Adatta l'immagine alle dimensioni del pulsante */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url('../img/downArrow.png');
    -fx-padding: 7px;
}

.custom-combobox .list-cell {
    -fx-pref-height: 70px;
    -fx-background-image: url('../img/grayButton.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-border-color: transparent;
	-fx-background-color: transparent;
}

.custom-combobox{
	-fx-text-fill: black;
	-fx-font-size: 10px;
	-fx-background-image: url('../img/grayButton.png');
    -fx-background-size: 100% 100%; /* Adatta l'immagine di sfondo alle dimensioni del ComboBox */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;  
    -fx-border-color: transparent;
	-fx-background-color: transparent;
}

.custom-combobox .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-image: url('../img/downArrow.png');
    -fx-background-size: contain; /* Adatta l'immagine alle dimensioni del pulsante */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-shape: null; /* Rimuovi la forma della freccia originale */
    
}

.custom-anchor{
	-fx-font-family: "Press Start 2P";
	-fx-background-image: url('../img/chooseSaveBackground.jpeg');
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
}

.custom-anchor .label{
	-fx-text-fill: black;
}

.button{
	-fx-font-size: 20px;
	-fx-background-image: url('../img/greenButton.png');
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}