@font-face{
	-fx-font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P.ttf");
}

.custom-anchor{
	-fx-font-family: "Press Start 2P";
}

.paneSquadra .label{
	-fx-alignment: center;
	-fx-font-size: 20px;
}

.paneSquadra .pokeContainers .label{
	-fx-alignment: center;
	-fx-font-size: 10px;
}

.paneSquadra .pokeContainers .pane{
	-fx-background-image: url("../img/pokemonLogo.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

.paneNickname .label{
	-fx-font-size: 9px;
}

.paneNickname .text-label{
	-fx-font-size: 9px;
}

.Err{
	-fx-alignment: center;
	-fx-font-size: 9px;
}
