@font-face{
	-fx-font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P.ttf");
}

.root{
	-fx-font-family: "Press Start 2P";
	-fx-background-image: url("../img/newSaveBackgound.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
}

.root .label{
	-fx-font-size: 13px;
	-fx-alignment: center;
}

.container .label{
	-fx-font-size: 10px;
	-fx-alignment: center;
}

.paneCell{
	-fx-background-image: url("../img/partyMember.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
}

.button{
	-fx-background-image: url("../img/greenButton.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}