@font-face{
	-fx-font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P.ttf");
}

.custom-anchor{
	-fx-font-family: "Press Start 2P";
}

.pane{
	-fx-background-image: url("../img/partyMember.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
}